* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif; }

*::-webkit-input-placeholder, button {
  font-family: "Lato", sans-serif; }

*:-ms-input-placeholder, button {
  font-family: "Lato", sans-serif; }

*::-ms-input-placeholder, button {
  font-family: "Lato", sans-serif; }

*::placeholder, button {
  font-family: "Lato", sans-serif; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/*btns */
.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 600;
  padding: 6px 34px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 20px; }
  .btn_simple:hover {
    background-color: #722ED1;
    color: #fff; }

.btn {
  color: #fff;
  background-color: #722ED1;
  padding: 14px 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 24px;
  -webkit-box-shadow: 0 3px 6px;
          box-shadow: 0 3px 6px; }
  .btn:hover {
    background-color: #fff;
    color: #111; }
  .btn.btn_white {
    background-color: #fff;
    color: #111; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ED1; }

/*btns */
#to_banner {
  background-image: url("img/main_banner/background.svg"); }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .inner_header .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .inner_header .right_side_header .mnu_top {
        list-style-type: none; }
        #header .inner_header .right_side_header .mnu_top > li {
          display: inline-block;
          position: relative; }
          #header .inner_header .right_side_header .mnu_top > li a {
            display: block;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: #000;
            -webkit-transition: color 0.4s ease;
            transition: color 0.4s ease;
            padding: 5px 40px 5px 0; }
            #header .inner_header .right_side_header .mnu_top > li a:hover {
              color: #722ED1; }
          #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
            position: absolute;
            top: 20px;
            background-color: #fff;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
            z-index: 10;
            border-radius: 5px;
            padding: 5px 0;
            -webkit-animation: 0.6s opac;
                    animation: 0.6s opac;
            display: none; }
            #header .inner_header .right_side_header .mnu_top > li > .sub_menu > li {
              display: block; }
              #header .inner_header .right_side_header .mnu_top > li > .sub_menu > li > a {
                padding: 3px 10px;
                font-size: 14px; }
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
            display: block; }
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
            content: "";
            display: block;
            width: 8px;
            height: 4px;
            background-image: url("../img/arrow.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 17px;
            right: 25px; }

@-webkit-keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#to_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.notif {
  background-color: #F9F0FF;
  border-radius: 30px;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content; }
  .notif img {
    width: 16px;
    height: auto;
    margin-right: 7px; }
  .notif p {
    color: #722ED1; }
  .notif a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
    border-bottom: 1px solid #722ED1; }
    .notif a:hover {
      color: #5b25a7;
      border-color: #5b25a7; }

.main_banner {
  padding: 150px 0 250px; }
  .main_banner .mb_info > h1 {
    color: #160637;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    max-width: 430px;
    margin-top: 10px; }
  .main_banner .mb_info > .desc {
    color: #8989A2;
    margin: 14px 0 44px;
    font-size: 18px;
    line-height: 1.4; }
  .main_banner .mb_info > .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main_banner .mb_info > .btns > .btn_white {
      margin-left: 16px; }

section {
  padding: 100px 0; }
  section#to_banner {
    padding: 0; }

#advantages .notif {
  margin: 0 auto; }
  #advantages .notif img {
    width: 26px;
    height: auto;
    margin-right: 7px; }
#advantages .heading_main {
  max-width: 500px;
  margin: 32px auto 48px; }
  #advantages .heading_main h2 {
    color: #160637;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px; }
  #advantages .heading_main .description {
    color: #8989A2;
    text-align: center;
    font-size: 18px;
    line-height: 1.4; }
#advantages .row_adv .item_adv > img {
  width: 48px;
  height: 40px;
  border-radius: 50%; }
#advantages .row_adv .item_adv > .heading {
  color: #160637;
  font-size: 24px;
  margin: 24px 0 16px;
  font-weight: 900; }
#advantages .row_adv .item_adv > .descr {
  color: #8989A2;
  font-size: 16px;
  line-height: 1.4; }

section.information .img-responsive {
  margin: 0 auto; }
section.information .right_info {
  padding-left: 50px; }
  section.information .right_info > h3 {
    color: #160637;
    font-size: 38px;
    font-weight: 900;
    line-height: 1.4;
    margin: 32px 0 16px; }
  section.information .right_info > .descr {
    color: #8989A2;
    font-size: 16px;
    line-height: 1.4; }

#rewievs {
  padding: 300px 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/rewievs/background.svg"); }
  #rewievs .rev_item {
    text-align: center;
    display: none;
    -webkit-animation: opac 0.6s;
            animation: opac 0.6s; }
    #rewievs .rev_item.active {
      display: block; }
    #rewievs .rev_item > .quotes {
      color: #160637;
      font-size: 22px;
      margin: 0 auto 16px;
      max-width: 660px;
      height: 150px;
      line-height: 1.4; }
    #rewievs .rev_item > img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    #rewievs .rev_item > .name {
      margin-top: 16px; }
    #rewievs .rev_item > .name, #rewievs .rev_item > .position {
      color: #111;
      font-weight: 900; }
  #rewievs .line {
    height: 1px;
    width: 100%;
    color: #DEC9FA;
    margin: 56px 0; }
  #rewievs .nav_rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #rewievs .nav_rev > div {
      cursor: pointer;
      width: 16%;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #rewievs .nav_rev > div.active {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      #rewievs .nav_rev > div > img {
        margin: 0 auto; }

.btn_form {
  display: block;
  padding: 14px;
  color: #ffffff;
  background-color: #722ED1;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-transition: border-radius 0.4s ease-in-out;
  transition: border-radius 0.4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  font-weight: 600; }
  .btn_form:hover {
    border-radius: 30px; }

#pre_footer .pf_info > h4 {
  color: #160637;
  font-weight: 900;
  font-size: 38px;
  text-align: center; }
#pre_footer .pf_info > .line_img {
  display: block;
  margin: 42px auto; }
#pre_footer .pf_info > .img-responsive {
  margin: 0 auto; }
#pre_footer .form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  max-width: 480px; }
  #pre_footer .form_wrapper > form {
    width: 86%;
    margin: 0 auto;
    background-color: #fff;
    padding: 36px 36px 24px;
    border: 1px solid #F9F0FF;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
            box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
    text-align: center; }
    #pre_footer .form_wrapper > form > h4 {
      color: #160637;
      font-size: 24px;
      margin-bottom: 32px;
      font-weight: 900; }
    #pre_footer .form_wrapper > form > input {
      outline: none;
      display: block;
      width: 100%;
      margin-bottom: 16px;
      padding: 14px 24px;
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid rgba(137, 137, 162, 0.5);
      -webkit-transition: border-color 0.4s ease-in-out;
      transition: border-color 0.4s ease-in-out; }
      #pre_footer .form_wrapper > form > input::-webkit-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:-ms-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::-ms-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:focus {
        border-color: #8e58da; }
    #pre_footer .form_wrapper > form > .or {
      margin: 20px auto 15px;
      font-size: 16px;
      color: #000000;
      text-transform: uppercase; }
    #pre_footer .form_wrapper > form > a {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      text-decoration: none; }
    #pre_footer .form_wrapper > form > .footer_form > .line {
      height: 1px;
      width: 100%;
      background-color: rgba(137, 137, 162, 0.5);
      margin: 22px 0; }
    #pre_footer .form_wrapper > form > .footer_form > p {
      font-size: 14px;
      color: #8989A2; }
      #pre_footer .form_wrapper > form > .footer_form > p > a {
        color: #1563FF; }

#footer {
  background-color: #FBFCFF;
  padding: 60px 0 0; }
  #footer .row_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #footer .row_flex .col-footer_1 {
      width: 20%; }
    #footer .row_flex .col_footer_2 {
      width: 55%; }
    #footer .row_flex .col_footer_3 {
      width: 16%; }
  #footer .logo_info > a {
    width: 48px;
    height: 48px;
    display: block; }
    #footer .logo_info > a > img {
      margin: 0 auto; }
  #footer .logo_info > .descr {
    color: #160637;
    font-size: 13px;
    margin: 16px 0;
    line-height: 1.65; }
  #footer .logo_info > .social {
    list-style-type: none; }
    #footer .logo_info > .social > li {
      display: inline-block;
      margin-right: 16px; }
      #footer .logo_info > .social > li > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 16px;
        height: 16px; }
        #footer .logo_info > .social > li > a > img {
          -webkit-transition: -webkit-transform 0.4s ease;
          transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
          transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
        #footer .logo_info > .social > li > a:hover > img {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px); }
      #footer .logo_info > .social > li:last-child {
        margin-right: 0; }
  #footer .mnu_footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px; }
    #footer .mnu_footer_wrapper > .mnu_footer > ul {
      list-style-type: none; }
      #footer .mnu_footer_wrapper > .mnu_footer > ul > li {
        display: block; }
        #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a {
          padding: 8px 0;
          display: block;
          text-decoration: none;
          color: #160637;
          -webkit-transition: color 0.4s ease;
          transition: color 0.4s ease;
          font-size: 13px; }
          #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a:hover {
            color: #722ED1; }
  #footer b.heading {
    color: #160637;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: 900; }
  #footer .newsletter > b.heading {
    margin-bottom: 16px; }
  #footer .newsletter > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05); }
    #footer .newsletter > form > input {
      display: block;
      border: none;
      background-color: transparent;
      outline: none;
      padding: 12px 40px 12px 16px;
      max-width: 100%; }
      #footer .newsletter > form > input::-webkit-input-placeholder {
        color: #8989A2;
        font-size: 14px; }
      #footer .newsletter > form > input:-ms-input-placeholder {
        color: #8989A2;
        font-size: 14px; }
      #footer .newsletter > form > input::-ms-input-placeholder {
        color: #8989A2;
        font-size: 14px; }
      #footer .newsletter > form > input::placeholder {
        color: #8989A2;
        font-size: 14px; }
    #footer .newsletter > form > button {
      position: absolute;
      top: 12px;
      right: 12px;
      border: none;
      background-color: transparent;
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 25px;
      height: 25px; }
  #footer .copyright {
    padding-bottom: 15px;
    color: #160637;
    font-weight: 900;
    font-size: 16px;
    margin-top: 66px;
    text-align: center; }

.hamburger {
  display: none;
  position: relative;
  right: 15px;
  top: 0; }
  .hamburger .line {
    width: 24px;
    height: 3px;
    background-color: #333;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-right: 5px; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg); }
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0; }
  .hamburger.is-active .line:nth-child(3) {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg); }

.animate_graphic {
  -webkit-transition: none;
  transition: none;
  -webkit-animation: 1.5s infinite alternate movingAn;
          animation: 1.5s infinite alternate movingAn; }

@-webkit-keyframes movingAn {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes movingAn {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }
